/* 
.tekserverentals-cart-container {
	position: fixed;
	right: 100px;
	top: 100px;
	width: 420px;
	max-height: 80%;
	background: #fff;
	color: #004d72;
	padding: 1em;
	box-shadow: 1px 1px 10px #334;
	z-index: 50;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.innerRowWrap .tekserverentals-cart-container .button {
	font-size: 1.25em;
	background-color: #40a8c9;
}

.tekserverentals-cart-container .tekserverentals-cart-hidebutton.button,
.tekserverentals-cart-container .tekserverentals-cart-showbutton.button {
	display: inline-block;
	margin-left: 2em;
}

.tekserverentals-cart-container .tekserverentals-cart-showbutton.button {
	margin-left: 200px;
	background-color: rgba(243, 111, 55,.6);
}

.tekserverentals-cart-container .simpleCart_items div div,
#addDialog div div {
	display: table-header-group;
}
.tekserverentals-cart-container .simpleCart_items div .headerRow,
#addDialog div .headerRow {
	display: table-row;
}

.tekserverentals-cart-container .simpleCart_items .headerRow div,
#addDialog .headerRow div {
	display: table-cell;
}

.tekserverentals-cart-container .simpleCart_items .itemRow
#addDialog .itemRow {
	padding: .5em;
	display: table-row;
}

.tekserverentals-cart-container .simpleCart_items .itemRow div,
#addDialog .itemRow div {
	display: table-cell;
}

.tekserverentals-cart-container .simpleCart_items .headerRow div,
#addDialog .headerRow.div {
	font-weight: 900;
	padding: .5em;
}

.tekserverentals-cart-container .simpleCart_items .itemRow div,
#addDialog .itemRow div {
	padding: .5em;
}

.tekserverentals-cart-duration {
	display: inline;
	line-height: 2em;
}

.tekserverentals-cart-shipnote p,
.tekserverentals-cart-long-term p {
	color: #004d72;
}

.tekserverentals-cart-long-term h3,
.tekserverentals-cart-shipnote h3 {
	color: #f36f37;
 */
}

.tekserverentals-cart-container .simpleCart_items .itemRow .item-name,
#addDialog .itemRow .item-name {
	display: inline-block;
	width: 100px;
}

.tekserverentals-cart-container .simpleCart_items .headerRow .item-increment,
.tekserverentals-cart-container .simpleCart_items .headerRow .item-decrement {
	display: none;
}

.tekserverentals-cart-container .simpleCart_items .itemRow .item-decrement {
	display: inline;
	margin: 0;
	padding: 0;
	padding-left: .5em;
	padding-right: .1em;
	font-weight: 900;
	color: #40a8c9;
}

.tekserverentals-cart-container .simpleCart_items .itemRow .item-increment {
	display: inline;
	margin: 0;
	padding: 0;
	padding-right: .5em;
	padding-left: .1em;
	font-weight: 900;
	color: #40a8c9;
}

.tekserverentals-cart-container .simpleCart_items .itemRow .item-quantity {
	margin: 0 .1em;
	display: inline;
	padding: .1em .25em;
	outline: 1px solid #40a8c9;
	background: #fff;
	color: #004d72;
}

.tekserverentals-cart-container .simpleCart_items .itemRow .item-decrement a,
.tekserverentals-cart-container .simpleCart_items .itemRow .item-decrement a:visited,
.tekserverentals-cart-container .simpleCart_items .itemRow .item-increment a,
.tekserverentals-cart-container .simpleCart_items .itemRow .item-increment a:visited,
.tekserverentals-cart-container .simpleCart_items .itemRow .item-remove a:visited,
.tekserverentals-cart-container .simpleCart_items .itemRow .item-remove a {
	color: #40a8c9;
}

.tekserverentals-cart-container .simpleCart_items .itemRow .item-decrement a:hover,
.tekserverentals-cart-container .simpleCart_items .itemRow .item-increment a:hover,
.tekserverentals-cart-container .simpleCart_items .itemRow .item-remove a:hover {
	color: #004d72;
}

.tekserverentals-cart-container .simpleCart_items .itemRow.even .item-decrement a,
.tekserverentals-cart-container .simpleCart_items .itemRow.even .item-decrement a:visited,
.tekserverentals-cart-container .simpleCart_items .itemRow.even .item-increment a,
.tekserverentals-cart-container .simpleCart_items .itemRow.even .item-increment a:visited,
.tekserverentals-cart-container .simpleCart_items .itemRow.even .item-remove a:visited,
.tekserverentals-cart-container .simpleCart_items .itemRow.even .item-remove a {
	color: #004972;
}

.tekserverentals-cart-container .simpleCart_items .itemRow.even .item-decrement a:hover,
.tekserverentals-cart-container .simpleCart_items .itemRow.even .item-increment a:hover,
.tekserverentals-cart-container .simpleCart_items .itemRow.even .item-remove a:hover {
	color: #40a8c9;
}

.tekserverentals-cart-totals {
	display: table;
}

.tekserverentals-cart-totals>div {
	display: table-row;
}

.tekserverentals-cart-totals>div>div, 
.tekserverentals-cart-totals>div>span {
	display: table-cell;
	padding: .5em;
}

.emptyCart-button {
	cursor: pointer;
	font-weight: 900;
}

/* 
.section a.tekserverentals-item-add-to-cart-button,
.section div.emptyCart-button,
.section div.tekserverentals-cart-hidebutton,
.tekserverentals-cart-container .tekserverentals-cart-showbutton.button {
	font-size: 1.25em;
}

.section div.emptyCart-button {
	margin-left: 153px;
}

.tekserverental-checkout label {
	font-size: 1.5em;
	clear: both;
	margin-top: 1em;
}
 */

.tekserverental-checkout label.lower {
	font-size: 1em;
	margin-right: 1em;
	clear: none;
	margin-top: 0;
	float: none;
}

.tekserverental-checkout label.required:after,
#tekserverentals-checkout-dates label.required:after,
.tekserverental-checkout label.req:after {
	content: '*';
	color: #f36f37;
	font-family: fontawesome;
}

.orange #tekserverentals-checkout-dates label.required:after,
.orange .tekserverental-checkout label.req:after {
	color: #004d72;
}

.tekserverental-checkout label.error {
	color: #004d72;
	text-transform: lower;
	font-weight: 200;
	font-size: .8em;
}

.tekserverental-checkout label.error:before {
	content: '\f0a6';
	font-family: fontawesome;
	margin-right: 1em;
}

.tekserverental-checkout label.error.valid,
.tekserverental-checkout label.error.valid:before {
	display: none !important;
}

.tekserverental-checkout input {
	margin-top: 1em;
}

.tekserverental-checkout input.error {
	background-color: #f36f37;
	color: #fff;
	padding-left: 1em;
	font-weight: bold;
}

.tekserverental-checkout input.error.valid {
	background-color: #fff;
	color: #004d72;
	padding-left: 0;
	font-weight: normal;
}

.tekserverentals-cart>a,
.tekserverentals-cart>a:visited {
	color: #40a8c9;
}

.tekserverentals-cart>a:hover,
.tekserverentals-cart>a:active {
	color: #f36f37;
}

.innerRowWrap .tekserverentals-cart-container .tekserverentals-cart>a.button {
	color: #fff;
	font-size: 1.5em;
	background-color: #f36f37;
}

.innerRowWrap .tekserverentals-cart-container .tekserverentals-cart>a.button:hover {
	background-color: #40a8c9;
}

.single.single-rentalrequest .content {
	max-width: 960px;
	width: 95%;
	padding: 0 2.5%;
	margin: 0 auto;
	float: none;
}

.single.single-rentalrequest h1.entry-title {
	font-size: 1.5em;
	text-transform: none;
	line-height: 1;
	border-bottom: 2px solid #ccc;
	text-align: center;
	padding-bottom: 1em;
	margin-bottom: 2.75em;
}

.single-rentalrequest p.entry-meta {
	display: none;
}

.single .tekserve_rentals_thank_you h1 {
	text-align: left;
	font-size: 1.25em;
}

.tekserve_rental_request_container h2 {
	text-transform: uppercase;
	border: 2px solid #ccc;
	border-width: 2px 0;
	padding: .15em .15em 0;
  	margin-bottom: 1em;
}

/*
.tekserve_rental_request_container h3 {
	font-size: 1.25em;
	margin-left: 1em;
}
*/

.tekserve_rental_request_container div {
	margin-bottom: 2em;
}

.tekserve_rental_request_line_items,
.tekserve_rental_request_delivery,
.tekserve_rental_request_totals,
.tekserve_rental_request_notes,
.tekserve_rental_request_your_info {
	max-width: 70%;
	padding: 0 1em;
}

.tekserve_rental_request_totals h4 {
	color: #f36f37;
}
/* 

.tekserve_rental_request_customer,
.tekserve_rental_request_line_items table,
.tekserve_rental_request_delivery>div,
.tekserve_rental_request_totals>div,
.tekserve_rental_request_notes {
	border: 1px solid #40a8c9;
	padding: 1em;
	border-top: 0;
}
 */


@media only screen and (max-width: 960px) and (min-width: 640px) {

/* 
	.tekserverentals-cart-container {
		top: 200px;
	}
 */
	
/* 
	.tekserve_rental_request_line_items,
	.tekserve_rental_request_delivery,
	.tekserve_rental_request_totals,
	.tekserve_rental_request_notes,
	.tekserve_rental_request_your_info {
		max-width: 85%;
		padding: 0 5%;
	}
 */

}

@media only screen and (max-width: 500px) {

/* 
	.tekserve_rental_request_line_items,
	.tekserve_rental_request_delivery,
	.tekserve_rental_request_totals,
	.tekserve_rental_request_notes,
	.tekserve_rental_request_your_info {
		max-width: 95%;
		padding: 0 2%;
	}

	.tekserverental-checkout form input,
	.tekserverental-checkout form textarea {
		margin-left: 0 !important;
		max-width: 250px !important;
		clear: both;
		display: block;
	}
	
	.tekserverentals-cart-container {
		max-width: 90%;
		top: 10%;
		right: 2.5%;
		padding: 1em 2.5%;
	}
 */
	
	
}